@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}


.grey-transparent  {
    background-color: rgba(73, 73, 73, 0.386);
}


@media (min-width: 1023px) {
    .maxheight {
        max-height: 750px;
    }
    
}